@import "../../vars";

.Board {
  display: flex;
  flex-direction: column;
  gap: 2px;

  &__title {
    text-align: center;
    color: $c-lightBlue;
  }

  &__row {
    display: flex;
    gap: 2px;
  }

  &__replay-button {
    margin-top: 40px;
    padding: 10px;
    background-color: $c-blue ;
    color: $c-lightBlue;
    font-weight: 800;
    font-size: 18px;
  }
}