@import "../../vars";

.Board {
  display: flex;
  flex-direction: column;
  gap: 4px;
  
  &__title {
    text-align: center;
    color: $c-textColor;
  }

  &__row {
    display: flex;
    gap: 4px;
  }

  &__replay-button {
    cursor: pointer;
    margin-top: 40px;
    padding: 10px;
    background-color: $c-textColor ;
    color: $c-mainColor;
    font-weight: 800;
    font-size: 18px;
    border-color: $c-textColor;
  }
}