@import "../../vars";

.Square {
  width: 100px;
  height: 100px;
  border: 2px solid $c-textColor;
  font-size: 40px;
  font-weight: bold;
  background-color: $c-squareColor;
  color: $c-textColor;
}