// palette 1;
$c-mainColor: #90e0ef;
$c-textColor: #03045e;
$c-squareColor: #0077b6;

// palette 3;
// $c-mainColor: #085f63;
// $c-textColor: #facf5a;
// $c-squareColor: #49beb7;

// // palette 4;
// $c-mainColor: #f9f9f9;
// $c-textColor: #8f8787;
// $c-squareColor: #a6e4e7;

// // // palette 4;
// $c-mainColor: #fffdef;
// $c-textColor: #e70000;
// $c-squareColor: #f1f1f1;
